{% extends 'base.html' %}


{% block title %}
Добавление товара
{% endblock %}

{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/comment" method="post" class="form-comment">
    <p><label>Имя: </label> <input type="text" name="username" value="" required />
    <p><label>Email: </label> <input type="text" name="email" value="" required />
    <p><label>Сообщение: </label>
    <p><textarea name="message" rows=7 cols=40></textarea>
    <p><input type="submit" value="Отправить" />
</form>
{% endblock %}